---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <div>
      {% if post.related_image %}
      <div class="image-container">
        <img src="{{post.related_image}}" alt="Not found">
      </div>
      {% endif %}
      </div>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
        {{excerptParts[1]}}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
